.navbar {
  background: $color-black;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  top: 0;
  z-index: 101;

  &-brand {
    color: $color-white;
    font-weight: 600;
  }

  &-brand:hover,
  &-brand:focus {
    color: $color-white;
  }
}

.menu-toggle {
  float: right;
}

.menu-hidden {
  max-height: none !important;
}

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 100%;
  left: 0;
  z-index: 101;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background: $color-dark;
  height: 100%;
  padding: 0;

  a {
    color: $color-white / 1.2;
    padding-left: 20px;
    text-transform: uppercase;
    transition: 0.3s;
  }

  .svg {
    vertical-align: top;
    stroke: $color-white / 1.2;
    margin-right: 10px;
    transition: 0.3s;
  }

  .server-alert {
    float: right;
    stroke: $color-white;
  }

  li:hover a {
    color: $color-white * 2;
    padding-left: 34px;
  }

  li:hover .svg {
    stroke: $color-white * 2;
  }

  li {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    background: $color-dark * 1.3;
    transition: 0.3s;
    word-wrap: normal;
  }

  .active {
    border-left: 6px solid $color-sharp;
    a {
      color: $color-white * 2;
      padding-left: 34px; // -6px border
    }
    .svg {
      stroke: $color-white * 2;
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    position: static;
    top: 0;
    left: 0;
    right: 0;
  }

  .menu-hidden {
    max-height: 0 !important;
  }

  .sidebar {
    position: relative;
    top: -3px;
    bottom: none;
    left: none;
    border-radius: 0 0 3px 3px;
    display: block;
    transition: 0.5s;
    overflow: hidden;
    max-height: 1000px;

    li {
      text-align: center;
    }

    a {
      padding: 0;
    }

    li:hover a {
      color: $color-white * 2;
      padding: 0;
    }

    .active {
      border: none;
      background: $color-sharp;
      a {
        padding: 0;
      }
    }
  }
}
