.server-name {
  font-size: $font-medium;
  text-transform: uppercase;
  margin: 5px 0;
}

.server-tabs {
  margin-bottom: 35px;

  li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding: 0 5px 10px 5px;
    a {
      font-size: $font-light;
    }
  }

  li:after {
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: $color-sharp;
    transition: all 0.2s ease-out;
  }

  li:hover:after {
    width: 100%;
  }

  .active:after {
    width: 100%;
  }
}

.chart-block {
  .chart-title {
    margin: 10px 0 60px;
    h2 {
      text-transform: uppercase;
      font-weight: 400;
      float: left;
      display: inline-block;
    }
    a {
      float: right;
      display: inline-block;
      padding-right: 10px;
    }
  }
}

.state-block {
  background: $color-dark;
  height: 150px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .svg {
    position: absolute;
    opacity: 0.5;
    height: 100px;
    width: 100px;
    left: 10px;
    bottom: 10px;
    z-index: 1;
  }

  div {
    padding-right: 20px;
    z-index: 2;
  }

  h3 {
    color: $color-white;
    font-size: $font-medium;
    text-align: right;
    text-transform: uppercase;
  }

  p {
    color: $color-white/1.2;
    text-align: right;
    margin: 10px 0 0 0;
  }
}

// fix micro bug. You can delete
@media (min-width: 993px) and (max-width: 1020px) {
  .state-block {
    div {
      padding-right: 10px;
    }
  }
}
