$font-light: 16px;
$font-regular: 20px;
$font-medium: 30px;
$font-large: 40px;
$font-largest: 70px;

$color-white: #eef1f5;
$color-black: #2b3a42;
$color-dark: #3f5765;
$color-grey: #bdd4de;
$color-light: #d3cbbd;
$color-sharp: #ff530d;
