$font-light: 16px;
$font-regular: 20px;
$font-medium: 30px;
$font-large: 40px;
$font-largest: 70px;

$color-white: #eef1f5;
$color-black: #1c1919;
$color-dark: #403d3c;
$color-grey: #456f74;
$color-light: #d3cbbd;
$color-sharp: #eb5937;
